:root { 
--gray_900_35:#02342435; 
--blue_gray_50:#ebecf0; 
--red_300:#b48766; 
--teal_50_1c:#e1eeea1c; 
--white_A700_70:#ffffff70; 
--gray_300_33:#ebe5db33; 
--gray_100_14:#f3f3f314; 
--yellow_600:#e5d32e; 
--black_900_01:#080a12; 
--black_900:#0d0e0c; 
--teal_800:#1b5f4a; 
--deep_orange_300:#fd8c4d; 
--blue_gray_800:#363848; 
--blue_gray_700:#2b6956; 
--blue_gray_900_01:#2d2d2d; 
--teal_50_01:#e1eeea; 
--teal_50_02:#e2f1ec; 
--indigo_800_23:#3e357823; 
--blue_gray_900:#204d3f; 
--black_900_02:#000000; 
--gray_600:#72737c; 
--gray_700:#855f42; 
--gray_400:#c4c4c4; 
--black_900_0a:#0000000a; 
--blue_gray_100:#d1e5df; 
--gray_500:#a59a87; 
--gray_600_01:#667966; 
--gray_800:#3c3c3c; 
--blue_gray_600:#408972; 
--gray_900:#20221e; 
--blue_gray_700_b7:#2b6956b7; 
--blue_gray_600_01:#3b7e69; 
--teal_50:#e2f1ed; 
--gray_300:#ebe5db; 
--black_900_99:#00000099; 
--white_A700_42:#ffffff42; 
--gray_400_01:#b3b3b3; 
--gray_400_02:#b2b2b2; 
--gray_400_03:#c9c9c9; 
--gray_400_04:#d4c7b1; 
--blue_gray_700_02:#30715d; 
--white_A700:#ffffff; 
--blue_gray_700_01:#2e725a; 
--gray_700_01:#5a524c; 
}